@use 'variables';
@use 'admin/admin';
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables

// Bootstrap



a {
    text-decoration: none;
}

.logo-lg {
    span {
        display: inline-block;
        margin-left: 20px;
        font-weight: bold;
        color: #000;
    }
}

#images-con {
    img {
        max-width: 200px;
        height: auto;
    }

    .dz-details {
        display: flex;
        gap: 20px;
    }

    .dz-preview {
        margin-bottom: 20px;
    }
}
   
    .add-image-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #ddd;
        float: right;
        cursor: pointer;
    }
    .add-image-btn i {
        font-size: 30px;
    }

    .loading-fade {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .table .dripicons-pencil, .table .dripicons-preview {
        font-size: 20px;
        line-height: 19px;
    }